---
// Redirect to decap CMS
---

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/decapcms/" />
    <script>
      window.location.replace('/decapcms/');
    </script>
  </head>
  <body>
    <p>Redirecting to CMS...</p>
  </body>
</html>
